.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.header {
  background-color: white;
  height: 70px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  position: fixed;
  top: 0;
  width: 100%;
}
.header__hamburger {
  width: 20px;
  height: 20px;
}
.header__mobile-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
.header__main {
  flex-basis: 50%;
}
.header__main__h {
  height: 35px;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
  width: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__main__title {
  height: fit-content;
  margin-left: 10px;
}
.header__main__title__hotel {
  font-size: 14px;
  font-weight: bold;
}
.header__main__title__miranda {
  font-size: 14px;
}
.header__btns__icon {
  height: 20px;
  width: 20px;
  margin-left: 15px;
}
.header__navbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  padding: 30px 20px 10px 20px;
  background-color: white;
}
.header__navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.header__navbar__item {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.hero {
  margin-top: 70px;
  background-color: #333333;
  padding: 65px 20px;
  color: white;
}
.hero__subtitle {
  font-size: 13px;
  letter-spacing: 2.8px;
  line-height: 20px;
  margin-bottom: 40px;
}
.hero__title {
  font-size: 46px;
  font-weight: 400;
  font-family: "Old Standard TT", sans-serif;
  margin-bottom: 40px;
}
.hero__btn {
  width: 210px;
  margin-top: 20px;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.calendar {
  background-color: #222222;
  padding: 35px 20px;
  color: white;
}
.calendar__form__label {
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}
.calendar__form__input {
  margin-bottom: 25px;
  border: none;
  outline: none;
  border-bottom: 2px solid #BEAD8E;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  color: gray;
}
.calendar__form__btn {
  margin-top: 20px;
  width: 250px;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.aboutus__main {
  margin-top: 60px;
  background-color: #F9F9F9;
  padding: 30px 20px;
  padding-bottom: 200px;
}
.aboutus__main__aboutus {
  color: #777777;
  letter-spacing: 2.8px;
  font-size: 12px;
  font-weight: 700;
}
.aboutus__main__title {
  font-family: "Old Standard TT";
  color: #111;
  font-size: 46px;
  margin-top: 30px;
  font-weight: 400;
  text-align: center;
}
.aboutus__main__text {
  margin: 16px 0;
  color: #777;
  font-size: 14px;
  line-height: 24px;
}
.aboutus__main__btn {
  margin-top: 24px;
  width: 215px;
}
.aboutus__card {
  margin-top: -40%;
  width: 80%;
  margin: 0 auto;
  margin-top: -130px;
}
.aboutus__card__img {
  width: 100%;
  height: 320px;
}
.aboutus__card__content {
  text-align: center;
  padding: 50px 0;
  position: relative;
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
}
.aboutus__card__content__icon {
  margin-bottom: 20px;
}
.aboutus__card__content__icon-copy {
  position: absolute;
  opacity: 0.1;
  left: 48%;
}
.aboutus__card__content__title {
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  color: #111;
  margin-bottom: 15px;
}
.aboutus__card__content__text {
  font-size: 14px;
  line-height: 22px;
  color: #111;
  width: 70%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
