.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.header {
  background-color: white;
  height: 70px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
.header__hamburger {
  width: 20px;
  height: 20px;
}
.header__mobile-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
.header__main {
  flex-basis: 50%;
}
.header__main__h {
  height: 35px;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
  width: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__main__title {
  height: fit-content;
  margin-left: 10px;
}
.header__main__title__hotel {
  font-size: 14px;
  font-weight: bold;
}
.header__main__title__miranda {
  font-size: 14px;
}
.header__btns__icon {
  height: 20px;
  width: 20px;
  margin-left: 15px;
}
.header__navbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  padding: 30px 20px 10px 20px;
  background-color: white;
}
.header__navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.header__navbar__item {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.hero {
  margin-top: 70px;
  background-color: #333333;
  padding: 65px 20px;
  color: white;
}
.hero__subtitle {
  font-size: 13px;
  letter-spacing: 2.8px;
  line-height: 20px;
  margin-bottom: 40px;
}
.hero__subtitle--subdomain {
  margin-bottom: 10px;
}
.hero__title {
  font-size: 46px;
  font-weight: 400;
  font-family: "Old Standard TT", sans-serif;
  margin-bottom: 40px;
}
.hero__btn {
  width: 210px;
  margin-top: 20px;
}
.hero__page {
  background-color: white;
  color: black;
  font-weight: 700;
  margin-left: auto;
  padding: 15px 25px;
  height: 50px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -65px;
}
.hero__page__link {
  font-weight: 700;
  text-decoration: none;
  color: black;
  margin-right: 5px;
}
.hero__page__link-active {
  margin-left: 5px;
  color: #BEAD8E;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.calendar {
  background-color: #222222;
  padding: 35px 20px;
  color: white;
}
.calendar__form__label {
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}
.calendar__form__input {
  margin-bottom: 25px;
  border: none;
  outline: none;
  border-bottom: 2px solid #BEAD8E;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  color: gray;
}
.calendar__form__btn {
  margin-top: 20px;
  width: 250px;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.aboutus {
  margin-bottom: 60px;
}
.aboutus__main {
  margin-top: 60px;
  background-color: #F9F9F9;
  padding: 30px 20px;
  padding-bottom: 200px;
}
.aboutus__main__aboutus {
  color: #777777;
  letter-spacing: 2.8px;
  font-size: 13px;
  font-weight: 700;
}
.aboutus__main__title {
  font-family: "Old Standard TT";
  color: #111;
  font-size: 46px;
  margin-top: 30px;
  font-weight: 400;
  text-align: center;
}
.aboutus__main__text {
  margin: 16px 0;
  color: #777;
  font-size: 14px;
  line-height: 24px;
}
.aboutus__main__btn {
  margin-top: 24px;
  width: 215px;
}
.aboutus__card {
  margin-top: -40%;
  width: 80%;
  margin: 0 auto;
  margin-top: 45px;
}
.aboutus__card__img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.aboutus__card__content {
  margin-top: -3px;
  text-align: center;
  padding: 50px 0;
  position: relative;
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
}
.aboutus__card__content__icon {
  margin-bottom: 20px;
}
.aboutus__card__content__icon-copy {
  position: absolute;
  opacity: 0.1;
  left: 48%;
}
.aboutus__card__content__title {
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  color: #111;
  margin-bottom: 15px;
}
.aboutus__card__content__text {
  font-size: 14px;
  line-height: 22px;
  color: #111;
  width: 70%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.aboutus__card__content--dark-bg {
  background-color: #222222;
}
.aboutus__card__content--dark-bg h3, .aboutus__card__content--dark-bg p {
  color: white;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.rooms {
  text-align: center;
  margin-bottom: 40px;
}
.rooms__rooms {
  color: #777;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
}
.rooms__title {
  font-size: 46px;
  font-weight: 400;
  margin: 24px 0;
}
.rooms__rect {
  position: relative;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
  margin: 0 auto;
  margin-bottom: -20px;
  z-index: 6;
  padding: 10px 20px;
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rooms__swiper {
  width: 100%;
  height: 250px;
}
.rooms__swiper__slide-1 {
  background: url("../resources/img/rooms-1.jpg") center/cover;
}
.rooms__swiper__slide-2 {
  background: url("../resources/img/rooms-2.jpg") center/cover;
}
.rooms__swiper__slide-3 {
  background: url("../resources/img/rooms-3.jpg") center/cover;
}
.rooms__swiper__slide-4 {
  background: url("../resources/img/rooms-4.jpg") center/cover;
}
.rooms__swiper__nav-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rooms__swiper__prev-btn {
  left: 10px;
  background-color: white;
  color: #111;
}
.rooms__swiper__next-btn {
  right: 10px;
  background-color: #BEAD8E;
  color: white;
}
.rooms__offer {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: 0 20px;
  margin-top: -20px;
  z-index: 5;
}
.rooms__offer__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -1.2px;
  color: #222222;
  margin-bottom: 12px;
}
.rooms__offer__text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #777;
  margin-bottom: 15px;
}
.rooms__offer__price {
  color: #BEAD8E;
  font-size: 32px;
  font-weight: 700;
}
.rooms__offer__price__small-txt {
  font-size: 14px;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.intro-video {
  background-color: #333333;
  padding: 48px 20px;
  padding-top: 60px;
}
.intro-video__intro {
  font-weight: 700;
  font-size: 14px;
  color: #BEAD8E;
  letter-spacing: 2.8px;
  margin-bottom: 32px;
}
.intro-video__title {
  font-weight: 400;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: white;
  margin-bottom: 14px;
}
.intro-video__text {
  color: #C2C2C2;
  font-size: 14px;
  line-height: 24px;
}
.intro-video__video {
  margin: 30px 0;
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  background-color: black;
}
.intro-video__btn {
  width: 215px;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.facilities {
  text-align: center;
  padding-top: 60px;
  overflow-x: hidden;
}
.facilities__intro {
  color: #777777;
  letter-spacing: 2.8px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
}
.facilities__title {
  color: #111;
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 14px;
}
.facilities__swiper {
  margin-bottom: 40px;
}
.facilities__swiper__slide {
  text-align: left;
  padding: 0 35px;
  position: relative;
}
.facilities__swiper__slide__icon {
  margin-top: 71px;
  margin-bottom: 36px;
}
.facilities__swiper__slide__number {
  position: absolute;
  top: 0;
  right: 35px;
  font-weight: 700;
  font-size: 120px;
  color: rgba(34, 34, 34, 0.04);
}
.facilities__swiper__slide__title {
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
  color: #222222;
  margin-bottom: 28px;
}
.facilities__swiper__slide__text {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 46px;
}
.facilities__bottom-img {
  width: 100px;
  margin-left: calc(100% - 80px);
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.menu-section {
  padding: 0 20px;
}
.menu-section__intro {
  color: #777;
  margin-bottom: 24px;
}
.menu-section__title {
  margin-bottom: 32px;
}
.menu-section__menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.menu-section__menu__option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.menu-section__menu__option__img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 30px;
}
.menu-section__menu__option__content__title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 8px;
}
.menu-section__menu__option__content__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.menu-section__menu__pagination {
  text-align: right;
}
.menu-section__menu__pagination button {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  position: relative;
}
.menu-section__menu__pagination button svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-section__menu__pagination__prev {
  background: #F8F8F8;
  margin-right: 10px;
}
.menu-section__menu__pagination__next {
  background-color: #BEAD8E;
}
.menu-section__bottom-slider {
  margin-bottom: 32px;
  overflow-x: hidden;
}
.menu-section__bottom-slider__img {
  object-fit: cover;
  margin: 20px;
  width: calc(100% - 40px);
  height: 300px;
  aspect-ratio: 1/1;
  margin-bottom: 30px;
  background-color: black;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.summary {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin-bottom: 60px;
}
.summary__box {
  text-align: center;
  margin-bottom: 60px;
}
.summary__box:last-child {
  margin-bottom: 0;
}
.summary__box__icon {
  margin-bottom: 16px;
}
.summary__box__number {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
}
.summary__box__number__plus {
  font-size: 16px;
  margin-left: 2px;
}
.summary__box__subtitle {
  color: #999999;
  font-weight: 700;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.footer {
  padding: 32px 20px;
  position: relative;
}
.footer ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../resources/img/footer-bg.png) center/cover;
  opacity: 0.05;
  z-index: -1;
}
.footer__main {
  display: flex;
  align-items: center;
}
.footer__main__h {
  height: 80px;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.15);
  width: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: white;
  background-color: #BEAD8E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__main__title {
  height: fit-content;
  margin-left: 25px;
}
.footer__main__title__hotel {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2.6px;
}
.footer__main__title__miranda {
  font-size: 26px;
  letter-spacing: 2.6px;
}
.footer__text {
  margin-top: 40px;
  font-size: 16px;
  line-height: 26px;
  color: #777;
  margin-bottom: 32px;
}
.footer__icon-bar {
  display: flex;
  margin-bottom: 32px;
}
.footer__icon-bar__icon {
  display: inline-block;
  margin-right: 10px;
  background-color: #F8F8F8;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s all;
}
.footer__icon-bar__icon svg {
  height: 100%;
  fill: #777;
}
.footer__icon-bar__icon:hover {
  transform: scale(1.1);
  background-color: #BEAD8E;
}
.footer__icon-bar__icon:hover svg {
  fill: white;
}
.footer__services {
  margin-bottom: 42px;
}
.footer__services__title {
  font-weight: 400;
  font-size: 24px;
  color: #222222;
  margin-bottom: 24px;
}
.footer__services__options {
  display: flex;
  flex-wrap: wrap;
}
.footer__services__options__title {
  font-family: "Roboto", sans-serif;
  color: #777;
}
.footer__services__options__box {
  min-width: 50%;
  margin-bottom: 24px;
}
.footer__services__options__box:last-child {
  margin-bottom: 0;
}
.footer__contact__title {
  font-weight: 400;
  font-size: 24px;
  color: #222222;
  margin-bottom: 32px;
}
.footer__contact__box {
  display: flex;
  margin-bottom: 42px;
}
.footer__contact__box:last-child {
  margin-bottom: 0;
}
.footer__contact__box__content {
  margin-left: 30px;
}
.footer__contact__box__content__title {
  color: #222;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}
.footer__contact__box__content__number {
  color: #777;
}
.footer__bottom {
  background-color: #F8F8F8;
  padding: 20px 20px;
}
.footer__bottom__text {
  color: #222;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer__bottom__text:last-child {
  margin-bottom: 0;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.about-intro {
  padding: 30px 20px;
  padding-top: 60px;
}
.about-intro__video {
  width: 100%;
}
.about-intro__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  letter-spacing: -1.16px;
  margin-top: 32px;
  margin-bottom: 24px;
  color: #222;
}
.about-intro__pick {
  display: flex;
  flex-wrap: wrap;
}
.about-intro__pick__box {
  width: 50%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.about-intro__pick__box:hover {
  background-color: #BEAD8E;
  color: white;
}
.about-intro__pick__box:hover svg {
  fill: white;
}
.about-intro__pick__box__icon {
  fill: #BEAD8E;
}
.about-intro__pick__box__text {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2.4px;
  margin-top: 15px;
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.restaurant-wrapper {
  padding: 20px;
  margin-bottom: 60px;
}

.restaurant {
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
}
.restaurant__img {
  width: 100%;
  margin-bottom: 24px;
}
.restaurant__intro {
  color: #777777;
  letter-spacing: 2.8px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
}
.restaurant__title {
  font-weight: 400;
  font-size: 32px;
  color: #222;
}
.restaurant__text {
  margin-top: 25px;
  font-size: 14px;
  color: #777;
  line-height: 24px;
  margin-bottom: 24px;
}
.restaurant__btn {
  height: 60px;
  width: 70%;
  max-width: 400px;
  font-size: 14px;
  box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.36);
}

.d-none {
  display: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2.8px;
  height: 50px;
}
.btn--yellow {
  background-color: #BEAD8E;
}
.btn--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: transparent;
}

.section-intro {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}

.section-title {
  font-weight: 400;
  font-size: 46px;
}

.facilities-black {
  background-color: #222222;
}
.facilities-black__text {
  color: white;
}
.facilities-black__number {
  color: #222;
}
.facilities-black__swiper-wrapper {
  padding: 20px;
}
.facilities-black__swiper {
  background-color: #292929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

body {
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Old Standard TT", sans-serif;
}

:root {
  --swiper-pagination-color: #BEAD8E;
}

/*# sourceMappingURL=styles.css.map */
