@import "globals";

@import "layout/header";
@import "layout/hero";
@import "layout/calendar";
@import "layout/aboutus";
@import "layout/rooms";
@import "layout/intro-video";
@import "layout/facilities";
@import "layout/menu";
@import "layout/summary";
@import "layout/footer";

@import "layout/about-intro";
@import "layout/restaurant";
@import "layout/facilities-black";
@import "layout/counter";
@import "layout/rooms-flex";
@import "layout/offer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}

body {
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Old Standard TT', sans-serif;
}

:root {
  --swiper-pagination-color: #BEAD8E;
}