@import "globals";

@import "layout/header";
@import "layout/hero";
@import "layout/calendar";
@import "layout/aboutus";
@import "layout/rooms";
@import "layout/intro-video";
@import "layout/facilities";
@import "layout/menu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Old Standard TT', sans-serif;
}

:root {
  --swiper-pagination-color: #BEAD8E;
}