@import "../globals";

.aboutus {
  &__main {
    margin-top: 60px;
    background-color: $color-bg-gray;
    padding: 30px $px-sm;
    padding-bottom: 200px;

    &__aboutus {
      color: #777777;
      letter-spacing: 2.8px;
      font-size: 12px;
      font-weight: 700;
    }
    
    &__title {
      font-family: 'Old Standard TT';
      color: #111;
      font-size: 46px;
      margin-top: 30px;
      font-weight: 400;
      text-align: center;
    }

    &__text {
      margin: 16px 0;
      color: #777;
      font-size: 14px;
      line-height: 24px;
    }

    &__btn {
      margin-top: 24px;
      width: 215px;
    }
  }
}