@import "../globals";

.about-intro {
  padding: 20px $px-sm;
  padding-top: 60px;
  text-align: center;

  &__video {
    width: 100%;
    max-width: $max-wsm;
    box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.25);
  }

  &__title {
    font-size: 32px;
    max-width: $max-wsm;
    margin: 0 auto;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.16px;
    margin-top: 42px;
    margin-bottom: 32px;
    color: #222;
  }

  &__pick {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $max-wsm;
    margin: 0 auto;

    &__box {
      width: 45%;
      aspect-ratio: 3 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: $color-secondary;
        color: white;
        img {
          filter: brightness(02);
        }
      }

      &__icon {
        fill: $color-secondary;
      }

      &__text {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 2.4px;
        margin-top: 15px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .about-intro {
    padding: 60px 5%;
    max-width: $max-wlg;
    margin: auto;
    padding-bottom: 30px;

    &__video {
      max-width: none;
    }

    &__title {
      max-width: none;
      font-size: 72px;
      line-height: 89px;
      letter-spacing: -2.16px;
      margin: 60px auto;
      margin-bottom: 40px;
    }

    &__pick {
      width: 100%;
      justify-content: space-between;
      flex-wrap: nowrap;
      max-width: none;

      &__box {
        width: 200px;
      }
    }
  }
}