@import "../globals";

.aboutus {
  margin-bottom: 60px;
  
  &__main {
    margin-top: 60px;
    background-color: $color-bg-gray;
    padding: 30px $px-sm;
    padding-bottom: 200px;

    &__aboutus {
      color: #777777;
      letter-spacing: 2.8px;
      font-size: 12px;
      font-weight: 700;
    }
    
    &__title {
      font-family: 'Old Standard TT';
      color: #111;
      font-size: 46px;
      margin-top: 30px;
      font-weight: 400;
      text-align: center;
    }

    &__text {
      margin: 16px 0;
      color: #777;
      font-size: 14px;
      line-height: 24px;
    }

    &__btn {
      margin-top: 24px;
      width: 215px;
    }
  }

  &__card {
    margin-top: -40%;
    width: 80%;
    margin: 0 auto;
    margin-top: 45px;

    &__img {
      width: 100%;
      height: 320px;
      object-fit: cover;
    }

    &__content {
      margin-top: -3px;
      text-align: center;
      padding: 50px 0;
      position: relative;
      box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);

      &__icon {
        margin-bottom: 20px;
      }

      &__icon-copy {
        position: absolute;
        opacity: .1;
        left: 48%;
      }

      &__title {
        font-family: 'Old Standard TT';
        font-size: 30px;
        font-weight: 400;
        color: #111;
        margin-bottom: 15px;
      }

      &__text {
        font-size: 14px;
        line-height: 22px;
        color: #111;
        width: 70%;
        margin: 0 auto;
      }

      &--dark-bg {
        background-color: $color-dark;
        h3, p {
          color: white;
        }
      }
    }
  }
}