@import "../globals";

.calendar {
  background-color: $color-dark;
  padding: 35px $px-sm;
  color: white;

  &__form {

    &__label {
      font-weight: 700;
      display: block;
      margin-bottom: 10px;
    }

    &__input {
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid $color-secondary;
      background-color: transparent;
      width: 100%;
      padding: 10px;
      input {
        margin-left: 10px;
        background: none;
        outline: none;
        border: none;
        color: white;
        
        &::-webkit-calendar-picker-indicator {
          display: none;
        }
      }
    }

    &__btn {
      margin-top: 20px;
      width: 250px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .calendar {
    margin-top: 12px;
    padding: 40px $px-lg;
    
    &__form {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__flex-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 60%;
      }
      
      &__input-box {
        margin-right: 30px;
        width: 100%;
      }

      &__input {
        margin: 0;
      }

      &__btn {
        margin: 0;
        padding: 10px 15px;
      }
    }
  }
}