@import "../globals";

.cancellation {
  padding: $px-sm;
  margin-bottom: 100px;

  &__title {
    font-size: 30px;
    font-weight: 400;
    border-bottom: 1px solid #f1f1ff;
    padding-bottom: 10px;
  }

  &__text {
    margin-top: 32px;
  }
}

@media only screen and (min-width: 1000px) {
  .cancellation {
    margin: 100px $px-lg;
    margin-right: 40%;
  }
}