@import "../globals";

.counter {
  padding: 0 $px-sm;
  
  &__intro {
    color: $color-text;
    letter-spacing: 2.8px;
    font-size: 14px;
    font-weight: 700;
  }

  &__title {
    font-weight: 400;
    font-size: 56px;
    letter-spacing: -1.2px;
    margin-top: 24px;
    margin-bottom: 46px;
    color: #222222;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    &__box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 32px;
      
      &__content {
        flex-basis: 50%;
  
        &__number {
          color: #222;
          font-size: 60px;
          font-family: 'Old Standard TT';
        }
        &__text {
          color: $color-text;
          font-size: 15px;
          margin-top: -10px;
        }
      }
    }
  }

  &__bottom-slider {
    margin-bottom: 46px;

    &__img {
      object-fit: cover;
      width: 100%;
      aspect-ratio: 2 / 1;
      min-height: 250px;
      margin-bottom: 30px;
      background-color: black;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .counter {
    padding: 0 18%;
    margin-bottom: 120px;

    &__title {
      font-size: 72px;
    }

    &__flex {
      flex-direction: row;
      justify-content: space-between;

      &__box {
        width: 30%;
      }
    }

    &__bottom-desktop {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 50%;
        height: 350px;
        object-fit: cover;

        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }
}