@import "../globals";

.facilities-black {
  background-color: $color-dark;
  margin-bottom: 60px;
  
  &__text {
    color: white;
  }

  &__number {
    color: #222;
  }

  &__swiper-wrapper {
    padding: $px-sm;
  }

  &__swiper {
    background-color: #292929;
  }
}