@import "../globals";

.facilities {
  text-align: center;
  padding-top: 60px;
  overflow-x: hidden;
  
  &__intro {
    color: $color-text;
    letter-spacing: 2.8px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__title {
    color: #111;
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 14px;
  }

  &__swiper {
    max-width: 550px;
    margin-bottom: 40px;

    &__slide {
      text-align: left;
      padding: 0 35px;
      position: relative;

      &__icon {
        margin-top: 71px;
        margin-bottom: 36px;
      }

      &__number {
        position: absolute;
        top: 0;
        right: 35px;
        font-weight: 700;
        font-size: 120px;
        color: rgba(34, 34, 34, 0.04);
      }

      &__title {
        font-family: 'Old Standard TT';
        font-size: 30px;
        font-weight: 400;
        letter-spacing: -0.9px;
        color: #222222;
        margin-bottom: 28px;
      }

      &__text {
        font-size: 14px;
        line-height: 24px;
        color: $color-text;
        margin-bottom: 46px;
      }
    }

  }

  &__bottom-img {
    width: 100px;
    margin-left: calc(100% - 80px);
  }
}

.facilities-black {
  background-color: $color-dark;
  margin-bottom: 60px;
  
  &__text {
    color: white;
  }

  &__number {
    color: #222;
  }

  &__swiper-wrapper {
    padding: $px-sm;
  }

  &__swiper {
    background-color: #292929;
  }
}

@media only screen and (min-width: 1000px) {
  .facilities {
    padding: 100px $px-lg;
    padding-bottom: 150px;
    position: relative;

    &__title {
      font-size: 80px;
    }

    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 40px 0;
    }

    .swiper-wrapper {
      display: none;
    }

    &__swiper__slide {
      width: 30% !important; 
      margin-bottom: 40px;
      &__number {
        right: 5px;
      }
    }

    &__bottom-img {
      position: absolute;
      bottom: 0;
      left: 80px;
      margin: 0;
      width: 200px;
      height: 200px;
    }
  }
  .facilities-black {
    &__swiper-wrapper {
      display: none;
    }
    .facilities__swiper__slide {
      background-color: #292929;
    }
  }
}