@import "../globals";

.hero {
  margin-top: 70px;
  background-color: $color-primary;
  padding: 65px $px-sm;
  color: white;

  &__subtitle {
    font-size: 13px;
    letter-spacing: 2.8px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 46px;
    font-weight: 400;
    font-family: 'Old Standard TT', sans-serif;
    margin-bottom: 40px;
  }
  
  &__btn {
    width: 210px;
    margin-top: 20px;
  }
}