@import "../globals";

.intro-video {
  padding: 48px $px-sm;
  padding-top: 60px;

  &__intro {
    font-weight: 700;
    font-size: 14px;
    color: $color-secondary;
    letter-spacing: 2.8px;
    margin-bottom: 32px;
  }

  &__title {
    font-weight: 400;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: white;
    margin-bottom: 14px;
  }

  &__text {
    color: #C2C2C2;
    font-size: 14px;
    line-height: 24px;
  }

  &__video {
    margin: 30px auto;
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    max-width: 520px;
    background-color: black;
  }

  &__btn {
    width: 215px;
  }
}

.intro-video-wrapper {
  background-color: $color-primary;
  position: relative;
}

@media only screen and (min-width: 1000px) {
  .intro-video {
    position: relative;
    padding: 100px 5%;
    max-width: $max-wlg;
    margin: auto;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__first-col {
      width: 45%;
    }

    &__video {
      z-index: 3;
      width: 45%;
      max-height: none;
    }

    &__title {
      font-size: 80px;
      line-height: 85px;
    }

    &__btn {
      margin-top: 30px;
    }
  }

  .intro-video-wrapper {
    &::after {
      position: absolute;
      content: '';
      height: 100%;
      width: 30%;
      background-color: #AD9D82;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}