@import "../globals";

.menu-section {
  padding: 0 $px-sm;

  &__intro {
    color: #777;
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    &__option {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      &__img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        margin-right: 30px;
      }

      &__content {

        &__title {
          font-weight: 400;
          font-size: 24px;
          margin-bottom: 8px;
        }

        &__text {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    &__pagination {
      text-align: right;
      
      button {
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        position: relative;
        svg {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &__prev {
        background: #F8F8F8;
        margin-right: 10px;
      }

      &__next {
        background-color: $color-secondary;
      }
    }
  }

  &__bottom-slider {
    margin-bottom: 32px;
    overflow-x: hidden;

    &__img {
      object-fit: cover;
      margin: 20px;
      width: calc(100% - 40px);
      height: 300px;
      aspect-ratio: 1 / 1;
      margin-bottom: 30px;
      background-color: black;
    }
  }
}