@import '../globals';

.offers-flex {
  padding: 48px $px-sm;

  &__text {
    margin-bottom: 20px;
  }

  &__box {
    box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
    margin-bottom: 32px;

    &__card {
      padding: 0 $px-sm;
      padding-bottom: 32px;
    }

    &__prices {
      position: absolute;
      bottom: 10px;
      right: 20px;
      text-align: right;
    }

    &__price {
      font-weight: 700;
      text-shadow: 1px 1px 0px #000;

      &--old {
        margin-bottom: 3px;
        font-size: 24px;
        color: $color-secondary;
      }

      &--new {
        font-size: 36px;
        color: #DE5777;
      }

      &__small {
        text-decoration: none;
        font-size: 16px;
      }
    }

    &__img-wrapper {
      position: relative;
      margin-bottom: 16px;
    }

    &__img {
      width: 100%;
      min-height: 220px;
      object-fit: cover;
      aspect-ratio: 2 / 1;
    }

    &__btn {
      width: 65%;
      max-width: 400px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .offers-flex {
    padding: 100px 5%;
    max-width: $max-wlg;
    margin: auto;

    &__box {
      box-shadow: none;

      &__img-wrapper {
        margin-bottom: 0;
      }
      
      &__card {
        position: relative;
        background-color: white;
        z-index: 5;
        margin: 0 auto;
        margin-top: -60px;
        width: 90%;
        border-top: 6px solid $color-secondary;
        padding: 50px;
      }

      &__prices {
        position: relative;
        right: 0;
        top: 0;
        margin-left: 20px;
      }
      
      &__price {
        text-shadow: none;
      }

      &__first-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #ECECEC;
        margin-bottom: 30px;
      }

      &__second-row {
        display: flex;
        justify-content: space-between;

        &__first-col {
          width: 50%;
          margin-right: 50px;
        }

        .amenities__flex {
          margin: 0;
          width: 50%;
        }
      }

      &__btn {
        min-width: 200px;
      }
    }
  }
}